.ProductList {
  // display: flex;
  // flex-direction: column;
  list-style-type: none;
  padding: 0;

  &__item {

    &--active {
      background-color: yellow;
    }
  }

  &__keys {
    position: fixed;
    bottom: 0;
    left: calc(50vw - 80px);
    border-radius: 10px;
    border: 2px solid black;

    height: fit-content;
    width: 160px;
    margin: 5px auto;
    padding: 0 20px;
    background-color: yellow;
    font-size: 20px;
    line-height: 10px;
  }
}

.productFlexBox {
  // border: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  

  &__ProductList {
    display: inline-block;
    // border: 1px solid red;
  }

  &__MemoComponent {
    // border: 1px solid red;
    display: inline-block;
  }

}

.button {
  height: 100px;
  width: 100px;
  // border: 1px solid grey;
  border: none;
  background-color: white;
  display: inline-block;
  background-image: url(../../pictures/up-arrow-svgrepo-com.svg);
  background-position: center;
  object-fit: contain;
 
  & :focus{
    cursor: pointer;
 }
}